<ion-header>
  <ion-toolbar>
    <ion-title>
      Escanear
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" (click)="scanearCodigo()">
    <ion-img src="/assets/shapes.svg"></ion-img>
  </ion-card>
  <!-- fab placed to the (vertical) center and start -->
  <ion-fab vertical="center" horizontal="center" slot="fixed" (click)="scanearCodigo()">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>